{% extends 'CCDNComponentDashboardBundle::base.html.twig' %}

{% set LayoutTemplate = ccdn_component_dashboard.dashboard.show.layout_template %}

{% block title %}{{- truncDot('ccdn_component_dashboard.title.dashboard' | trans({}, 'CCDNComponentDashboardBundle'), ccdn_component_dashboard.seo.title_length) -}}{% endblock %}

{% block sidebar_extra_bottom %}
	{{ parent() }}

	<li class="nav-header">{{- 'ccdn_component_dashboard.sidebar.header.categories' |trans({}, 'CCDNComponentDashboardBundle') -}}</li>
	{%- for resource_row, resource in resources -%}
		{%- for category_row, category in resource -%}
			<li><a href="#{{- category_row -}}"><i class="icon-folder-close"></i>{{- category_row -}}</a></li>
		{%- endfor -%}
	{%- endfor -%}
	
{% endblock %}

{% block body_content %}

	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- for resource_row, resource in resources -%}
		{%- for category_row, category in resource -%}
			<section class="" id="{{- category_row -}}">
				<h5>{{- category_row -}}</h5>
				<ul class="thumbnails">
					{%- for item_row, item in category -%}
						<li class="span2" style="text-align:center;">
							<a class="thumbnail" href="{{- item.url -}}">
								<img class="icon32" width="32" height="32" src="{{- item.icon -}}" alt="{{- item.name -}}">
								{{- item.name -}}
							</a>
						</li>
					{%- endfor -%}
				</ul>
			</section>
		{%- endfor -%}
	{%- else -%}
		<div class="center">
			{{- 'ccdn_component_dashboard.dashboard_empty' | trans({}, 'CCDNComponentDashboardBundle') -}}
		</div>
	{%- endfor -%}

	{%- endspaceless -%}

{% endblock %}
