{% extends param('ccdn_component_dashboard.dashboard.show.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ 'title.dashboard' | trans({}, 'CCDNComponentDashboardBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}

{% endblock %}

{% block body %}

	{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

	<h2>{{ 'title.dashboard' | trans({}, 'CCDNComponentDashboardBundle') }}</h2>
	<br>
	
	{% for resource_row, resource in resources %}
		{% for category_row, category in resource %}
			<div class="well" style="padding:5px;"><h5>{{ category_row }}</h5></div>
			<ul class="thumbnails">
			{% for item_row, item in category %}
				<li class="span2" style="text-align:center;">
					<a class="thumbnail" href="{{ item.url }}"><img class="icon32" width="32" height="32" src="{{ item.icon }}" alt="{{ item.name }}">{{ item.name}}</a>
				</li>
			{% endfor %}
			</ul>
		{% endfor %}
	{% else %}
		<div class="center">
			<div class="well">{{ 'dashboard.empty' | trans({}, 'CCDNComponentDashboardBundle') }}</div>
		</div>
	{% endfor %}

	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock %}